<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coding Dojos</title>
    
    <style>
    body {
        padding: 2em;
         #background-image: url("https://www.desktopbackground.org/download/2560x1440/2014/08/05/804262_off-white-abstract-pattern-laminate-countertop-texture-picture_4608x3456_h.jpg"); !important; 
         background-image: url("http://www.wildtextures.com/wp-content/uploads/2011/11/wildtextures-wooden-chopping-board-texture.jpg"); !important;        
         
         background-attachment: fixed;
        background-size: 100%  !important;
        font-family: "Verdana"; !important;
        text-align:center;
        
    }
    h1 {
        margin-bottom: 1em;
    }
    .extra {
        margin-top: .6em;
        margin-bottom: .6em;
    }
    h3 {
        padding-top: .4em;
        padding-bottom: .4em;
    }
    .extra {
        padding: 1em;
    }
    .together {
        display: inline-block;
        margin-right: .9em;
    }
    .width {
        width: 20 %

    }
    .intro {
    padding: 1em;
    width: 70%;
    #background-image: url("https://media.istockphoto.com/photos/old-grunge-wooden-cutting-kitchen-desk-board-background-texture-picture-id462577789?k=6&m=462577789&s=612x612&w=0&h=G4VwHTk5ahYlOxlD_Ob9e3rKpihWvsNxKVgoywzQECY="); !important;
    background-color: rgba(255,235,205, .8);
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 1em;    
    }
    .intro div, h1 {
        display: inline-block;
        vertical-align: top;
    }
    .intro div {
        margin-left: 15em;
        width: 23%;
        
    }
    .nav {
        width: 70%;
    }
    .tile {
        padding: 1em;
        width: 10em;
        height: 5em;
        border: 2px solid black;
        background-color: rgba(255,235,205, .89);
        content-align: center;
        
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        color: black;
        margin:auto;
        
        
        
        
        
    }
    .searchtile {
        padding: 1em;
        width: 70%;
        background-color: rgba(255,235,205, .8);
        border: 2px solid black;
        border-radius: 5px;
        margin:auto;
        margin-top: 1em;
    }
    .lists {
        padding: 1em;
        width: 50%;
        background-color: rgba(255,235,205, .8);
        border: 2px solid black;
        border-radius: 5px;
        margin:auto;
        margin-top: 1.4em;
        
        }
    .lists .level, .time, .cat, .desc, .votes {
        display: inline-block;
        margin-right: 4em;
        color: black;
    }

    .formbutton {
        border: 1px solid black;
        border-radius: 3px;

    }
    .title {
        width: 38%        
        
    }
    .tomato {
        width: 30%   
       
    }
     .searchtile {
        padding: 1em;
        width: 70%;
        background-color: rgba(255,235,205, .8);
        border: 2px solid black;
        border-radius: 5px;
        margin:auto;
        margin-top: 1em;
    
    
    </style>
   # <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){


        $('button').click(function(){
 
        var cityname = $('#searchname').val();
        console.log(cityname)
        $.get("https://api.openweathermap.org/data/2.5/weather?q=" +  cityname + "&APPID=99a71e9bf02ba50fffe5a97ea8ed68a6", function(res) {
                    console.log(res);

                    $('#cd').html("<h1>" + cityname + "</h1>");
                    var temp = res.main.temp_max;
                    temp = Math.floor((temp *9/5) - 459.67);

                    $('#tp').html("<h3>"+ temp + " Degrees Fahrenheit" + "</h3>");
                
                }, "json");
            })
    })
    </script>
   </head>
<body >
<div class="intro mx-auto" >
<a href="https://imgur.com/PMSgZBH"><img class="title"src="https://i.imgur.com/PMSgZBH.png" title="source: imgur.com" /></a>
<div>
<a href="https://imgur.com/wnxvNyu"><img class="tomato" src="https://i.imgur.com/wnxvNyu.png" title="source: imgur.com" /></a>
    <% if !current_user %>
        <a href="/new">Log In</a> | <a href="/new">Register</a>
    <% else %>
        <h5>Welcome, <%= current_user.username %>!</h5>
        <form action="/sessions/<%=current_user.id%>" method="post" class="together">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input class="formbutton" type="submit" value="Log Out" >
        </form>
        <form action="/" class="together">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">           
        <input class="formbutton" type="submit" value="Home">
        </form>

    <% end %>
    </div>
</div>

<div class="nav mx-auto">
    
    <a href="/recipe/search" class="tile">Find a Recipe!</a>
    <a href="/recipe/new" class="tile">Create a Recipe!</a>
    <a href="/recipe/nutrition" class="tile">Nutrition Info</a>
    <% if current_user %>
    <a href="/user/<%= current_user.id %>" class="tile">My Profile</a>
    <% end %>
    
</div>

<div class="searchtile">



<input id="searchname"><button>Search</button>
<div id="cd"></div>
<div id="tp"></div>
</div>



</body>
</html>
